---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About | Sickos Committee">
    <main>
        <h1>Who Are The Sickos?</h1>
        <img src="/img/sickos_circle.png" alt="The Sickos of the Round Table"/>
        <p>The Sickos Committee is a collective of college football fans who support all levels of play. While there is certainly plenty of media coverage for the sport we love so much, we have made an effort to appreciate and shine a light on the "unconventionally appealing" aspects of the sport. Whether it's The University of Iowa winning a game refusing to score a touchdown and still winning with exactly 7 points, or TCU advancing to the 2022 National Championship Game, the Sickos are watching and the Sickos are rejoicing.</p>
    </main>
</Layout>