---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sickos Committee">
	<main>
		<h1>Welcome to the Sickos Committee</h1>
		<blockquote class="sidekick">
			All football is good football because it's football <cite> The Commissioner</cite>
		 </blockquote>
	</main>
</Layout>
