---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Media | Sickos Committee">
    <main>
        <h1>Where Have The Sickos Been Found?</h1>
        <p>So far the Sickos Committee has been featured in the following locations:
            <ul>
                <li><a href="https://theathletic.com/3736273/2022/10/28/sickos-committee-college-football-twitter/">The Athletic</a></li>
                <li><a href="https://www.reddit.com/r/SickosCommitteeCFB/comments/zqds7r/the_sickos_commissioner_escalante_full_interview/">Paul Finebaum</a></li>
                <li><a href="https://247sports.com/Article/College-Football-Sickos-Committee-175054533/">247 Sports</a></li>
            </ul>
        </p>
    </main>
</Layout>