---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import Title from "./Title.astro";
---
<header>
    <Title/>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>